.table {
  padding: 20px;
  width: 100%;
  background-color: var(--color-white);

  th:not(:first-of-type) {
    text-align: center;
  }

  th:first-of-type {
    text-align: start;
  }

  th:not(:first-of-type), td:not(:first-of-type) {
    width: fit-content;
    white-space: nowrap;
  }

  th:first-of-type, td:first-of-type {
    width:100%;
  }

  .table__title {
    font-size: 1.2rem;
    font-weight: bold;

    th {
      padding-bottom: 10px;
    }
  }

  .table__content {
    td:not(:first-of-type) {
      padding: 4px 15px;
    }
  }
}
