:root {
  --color-primary: #192b5f;
  --color-primary-disabled: #9ea9b2;
  --color-background: #f2f4f8;
  --color-white: #fafbfc;
  --color-border: #eef0f3;
  --color-border-active: #92c6fb;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: inherit;
  color: var(--color-primary)
}

body {
  background-color: var(--color-background);
  font-family: sans-serif;
  padding-top: 10px;
}
